{% extends "index/profile.html" %}

<div>{% block title %} Change Password {% endblock %}</div>

<div>
  {% block password %}
  <section
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      outline: 1px solid blue;
    "
  >
    <form
      action="/password"
      method="post"
      style="
        min-width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 6rem auto;
      "
    >
      <h1 class="mb-3">Change Password</h1>
      <input
        type="password"
        name="current_password"
        placeholder="current password"
        autocomplete="off"
        autofocus
        class="form-control mx-auto w-auto mb-3"
        style="min-width: 100%"
      />
      <input
        type="password"
        name="new_password"
        placeholder="New password"
        autocomplete="off"
        autofocus
        class="form-control mx-auto w-auto mb-3"
        style="min-width: 100%"
      />
      <div style="width: 100%" class="mb-3">
        <button type="submit" class="btn btn-primary" style="width: 100%">
          Change Password
        </button>
      </div>
      <div style="width: 100%">
        <a
          type="button"
          href="/profile/account"
          class="btn btn-outline-danger"
          style="width: 100%"
        >
          Back
        </a>
      </div>
    </form>
  </section>
  {% endblock %}
</div>
