{% extends "index/layout.html" %}

<div>{% block title %} New Note {% endblock %}</div>

<div>
  {% block body %}
  <section
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    "
  >
    <form
      action="/notes/new"
      method="post"
      style="
        min-width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 6rem auto;
      "
    >
      <h1 class="mb-3">Create new note</h1>
      <input
        type="text"
        name="note-title"
        placeholder="Title (ex... Web Developemnt)"
        autocomplete="off"
        autofocus
        class="form-control mx-auto w-auto mb-3"
        style="min-width: 100%"
      />
      <input
        type="text"
        name="note-subject"
        placeholder="Sub Title (ex... Python)"
        autocomplete="off"
        autofocus
        class="form-control mx-auto w-auto mb-3"
        style="min-width: 100%"
      />
      <div>
        <button type="submit" class="btn btn-primary">Create</button>
        <a href="/notes" class="btn btn-danger">Cancel</a>
      </div>
    </form>
  </section>
  {% endblock %}
</div>
