{% extends "index/layout.html" %}

<div>{% block title %} Full View Page {% endblock %}</div>
{% block body %}
<article
  class="mt-5 mb-3"
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  "
>
  <h1
    class="mb-3 pb-3 border-bottom border-1 border-dark text-center main-heading"
    style="width: 100%"
  >
    ({{ title | title }}) - {{ page.page_title | title }} Notes
  </h1>
  {% if block_count == 0 and bookmark_count == 0 %}
  <div class="container" style="height: 50%; width: 50%">
    <img
      style="object-fit: fill; height: 100%; width: 100%"
      src="/static/images/no_data_displace.jpg"
      alt="No Notes Displayed"
    />
  </div>
  {% else %} {% if block_count < 1 %}
  <div></div>
  {% else %} {% for page in full_page %}
  <div style="width: 100%">
    <p>{{ page.block_title | title}}</p>
    <div>{{ page.block_notes | safe }}</div>
  </div>
  {% endfor %} {% endif%}
</article>

<section class="mb-4">
  {% if bookmark_count < 1 %}
  <div></div>
  {% else %}
  <h2 class="px-2">Resources</h2>
  {% for bookmark in bookmarks %}

  <div class="card mb-3" style="border: none">
    <span style="text-decoration: underline">
      {{ bookmark.bookmark_title | title }}</span
    >
    <span>{{ bookmark.bookmark_url }}</span>
  </div>

  {% endfor %} {% endif %} {% endif %}
</section>
{% endblock %}
