{% extends "index/layout.html" %}
<div>{% block title %} Note Page {% endblock %}</div>

{% block body %}
<section class="dashboard mt-4" style="min-height: 82vh">
  <article class="row">
    <div>{% include 'pages/_page_layout.html' %}</div>
  </article>
  <article class="mb-3">
    <div class="table-responsive">
      <table class="table table-striped">
        {% if block_count < 1 %}
        <div class="text-center">
          <h3 style="color: gray">Currently no blocks</h3>
        </div>
        {% else %}
        <thead>
          <tr>
            <th scope="col" style="text-align: center">Title</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody class="table-striped">
          {% for block in blocks %}
          <tr>
            <td
              data-bs-toggle="modal"
              data-bs-target="#block-{{ block.id }}"
              class="text-center"
              style="outline: 2px soild red"
            >
              {{ block.block_title }}
            </td>
            <td>{{ block.created_on.strftime("%x") }}</td>

            <td>
              <div class="float-end">
                <a
                  href="/note/{{ title }}/page/{{ page.page_title }}/block/{{ block.id }}/edit"
                  type="button"
                  class="btn btn-primary"
                  role="button"
                >
                  Edit
                </a>
              </div>
            </td>
            <td>
              <form
                action="/note/{{ title }}/page/{{ page.page_title }}/block/{{ block.id }}"
                method="DELETE"
              >
                <button class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        {% endif %}
      </table>
    </div>
    {% include 'blocks/_block-data.html' %} {% include
    'bookmarks/_bookmark-modal.html' %} {% include
    'sidenotes/_sidenote-modal.html' %}
  </article>
</section>
{% endblock %} {% block footer %} {% include "index/_footer.html" %} {% endblock
%}
