<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid container d-flex justify-content-between">
    <h1>
      <a class="navbar-brand" href="/notes"> PeerJot </a>
    </h1>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-xl-end"
      id="navbarNavAltMarkup"
    >
      <div class="d-xl-flex">
        {% if 'user_id' not in session %}
        <a class="nav-link me-3" href="/register">Register</a>
        <a class="nav-link me-3" href="/login">Login</a>
        {% else %}

        <a class="nav-link active me-3" aria-current="page" href="/notes">
          Notes
        </a>

        <div class="dropdown">
          <span
            class="dropdown-toggle"
            type="button"
            id="dropdownMenu2"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Settings
          </span>
          <ul class="dropdown-menu px-3" aria-labelledby="dropdownMenu2">
            <div>
              <li>
                <a class="dropdown-item nav-link me-3" href="/profile/account">
                  Profile
                </a>
              </li>
            </div>
            <div>
              <li>
                <a class="dropdown-item nav-link me-3" href="/logout">Logout</a>
              </li>
            </div>
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
