.notes-cards {
  display: none;
  position: relative;
  h1 a {
    color: HSLA(0, 0%, 15.686%, 1);
  }

  h3 a {
    color: HSLA(0, 0%, 15.686%, 0.7);
  }

  h3 a:hover {
    color: HSLA(0, 0%, 15.686%, 0.4);
  }

  .dropstart {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
  }
}
