<div>
  {% block body %}
  <section
    class="block-dashboard"
    style="display: none; max-width: 70%; margin: 0 auto"
    id="bookmark"
  >
    <form action="">
      <input
        type="text"
        class="form-control p-2 mb-3 block-title"
        name="block-title"
        placeholder="block title"
        style="min-width: 100%"
      />
      <textarea
        cols="50"
        style="outline: 1px solid black; width: 100%"
        class="p-3 block-text"
        name="block-text"
      >
      </textarea>
      <div class="my-3 d-flex justify-content-center">
        <button class="btn btn-lg btn-primary me-3">Save</button>
        <a href="#" class="btn btn-lg btn-danger cancel">Cancel</a>
      </div>
    </form>
  </section>
  {% endblock %}
</div>

<script>
  document.querySelector(".cancel").addEventListener("click", function () {
    const block = document.querySelector(".block-dashboard");
    const text = document.querySelector(".block-text");
    const title = document.querySelector(".block-title");

    block.style.display = "none";
    text.value = "";
    title.value = "";
  });
</script>
