<div
  class="modal fade"
  id="bookmark"
  tabindex="-1"
  aria-labelledby="bookmarkLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookmarkLabel">New Bookmark</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="" class="d-flex flex-column">
          <input
            type="text"
            placeholder="Enter Bookmark"
            class="form-control mb-3 p-2"
            name="bookmark-title"
          />
          <input
            type="text"
            placeholder="Bookmark Description"
            class="form-control mb-3 p-2"
            name="bookmark-description"
          />
          <button type="submit" class="btn btn-primary">Add Bookmark</button>
        </form>
      </div>
    </div>
  </div>
</div>
