<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid container d-flex justify-content-between">
    <a class="navbar-brand" href="/">PeerNotes</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-xl-end"
      id="navbarNavAltMarkup"
    >
      <div class="d-xl-flex">
        {% if 'user_id' not in session %}
        <a class="nav-link me-3" href="/register">Register</a>
        <a class="nav-link me-3" href="/login">Login</a>
        {% else %}
        <a class="nav-link active me-3" aria-current="page" href="/dashboard">
          Dashboard
        </a>
        <a class="nav-link" href="/logout">Logout</a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-person-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
          />
        </svg>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
