<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid container d-flex justify-content-between">
    <a class="navbar-brand" href="/">PeerNotes</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-xl-end"
      id="navbarNavAltMarkup"
    >
      <div class="d-xl-flex">
        <a class="nav-link me-3" href="/register">Register</a>
        <a class="nav-link me-3" href="/login">Login</a>
        <a class="nav-link active me-3" aria-current="page" href="/dashboard">
          Dashboard
        </a>
        <a class="nav-link" href="#">Logout</a>
      </div>
    </div>
  </div>
</nav>
