<div
  class="modal fade"
  id="sidenote"
  tabindex="-1"
  aria-labelledby="sidenoteLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sidenoteLabel">New Sidenote</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="" class="d-flex flex-column">
          <textarea
            type="text"
            placeholder="enter sidenote"
            class="mb-3 p-2"
            name="note-text"
          ></textarea>
          <button type="submit" class="btn btn-primary">Add Note</button>
        </form>
      </div>
    </div>
  </div>
</div>
