{% extends "layout.html" %}

<div>{% block title %} Dashboard {% endblock %}</div>

<div>
  {% block body %}
  <section class="dashboard mt-4">
    <div
      style="display: flex; justify-content: space-between; align-items: center"
      class="mb-3"
    >
      <h1>{{username}}</h1>
      <a href="/new_note" class="dashboard-btn btn btn-primary">New Note</a>
    </div>
    <table class="table table-striped">
      <th scope="col">Name</th>
      <th scope="col">Subject</th>
      <th scope="col">Date</th>
      <th></th>
      <th></th>
      <tbody>
        <tr>
          <td style="width: 50%">
            <a href="/note/example">JavaScriptvsdfs sdgsdgsdf</a>
          </td>

          <td>Chemistry</td>
          <td>{{ time }}</td>
          <td>
            <form action="">
              <button class="btn btn-danger">delete</button>
            </form>
          </td>
          <td><form class="btn btn-primary" action="">edit</form></td>
        </tr>
        <tr>
          <td style="width: 50%">JavaScriptvsdfs sdgsdgsdf</td>

          <td>Computer Science class</td>
          <td>{{ time }}</td>
          <td>
            <form action="">
              <button class="btn btn-danger">delete</button>
            </form>
          </td>
          <td><form class="btn btn-primary" action="">edit</form></td>
        </tr>
      </tbody>
    </table>
  </section>
  {% endblock %}
</div>
