{% extends "layout.html" %}

<div>{% block title %} Dashboard {% endblock %}</div>

<div>
  {% block body %}
  <section class="dashboard mt-4">
    <div
      style="display: flex; justify-content: space-between; align-items: center"
      class="mb-3"
    >
      <h1>{{username}} - ({{ count }})</h1>
      <a href="/new_note" class="dashboard-btn btn btn-primary">New Note</a>
    </div>
    {% if count < 1 %}
    <div style="border: 1px solid black">{{msg}}</div>
    {% else %}
    <table class="table table-striped">
      <th scope="col">Name</th>
      <th scope="col">Subject</th>
      <th scope="col">Date</th>
      <th></th>
      <th></th>
      <tbody>
        {% for note in notes %}
        <tr>
          <td>
            <a href="/note/example">{{ note.note_title }}</a>
          </td>
          <td>{{ note.note_subject }}</td>
          <td>{{ note.created_on }}</td>
          <td class="d-flex justify-content-end">
            <form class="btn btn-primary" action="">edit</form>
          </td>
          <td>
            <form action="">
              <button class="btn btn-danger">delete</button>
            </form>
          </td>
        </tr>
        {% endfor %} {% endif %}
      </tbody>
    </table>
  </section>
  {% endblock %}
</div>
