{% extends "layout.html" %}

<div>{% block title %} Login {% endblock %}</div>

<div>
  {% block body %}
  <section
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    "
  >
    <form
      action=""
      style="
        min-width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 6rem auto;
      "
    >
      <h1 class="mb-3">Login</h1>
      <input
        type="text"
        name="username"
        placeholder="Enter Username"
        autocomplete="off"
        autofocus
        class="form-control mx-auto w-auto mb-3"
        style="min-width: 100%"
      />
      <input
        type="text"
        name="password"
        placeholder="Enter password"
        autocomplete="off"
        autofocus
        class="form-control mx-auto w-auto mb-3"
        style="min-width: 100%"
      />
      <input
        type="text"
        name="confirm_password"
        placeholder="Confirm Password"
        autocomplete="off"
        autofocus
        class="form-control mx-auto w-auto mb-3"
        style="min-width: 100%"
      />
      <button type="submit" class="btn btn-primary" style="width: 100%">
        Submit
      </button>
    </form>
  </section>
  {% endblock %}
</div>
