<section>
  {% for sidenote in get_sidenote_id %}
  <div
    class="modal fade"
    id="sidenote-{{ sidenote.id }}"
    tabindex="-1"
    aria-labelledby="sidenote-{{ sidenote.id }}Label"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="sidenote-{{ sidenote.id }}Label">
            Side Notes
          </h2>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3 p-3">
            {% for sidenote in get_sidenote_id %}
            <div class="mb-3 d-flex justify-content-between dropdown">
              <p class="mb-0 d-flex flex-column">
                <span
                  data-bs-toggle="tooltip"
                  data-bs-placement="left"
                  title="Tooltip on left"
                >
                  {{ sidenote.sidenotes }}
                </span>
                <span>
                  <strong>{{ sidenote.created_on.strftime("%x") }}</strong>
                </span>
              </p>
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-three-dots-vertical dropdown-toggle"
                  viewBox="0 0 16 16"
                  id="dropdownMenuButton1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <a
                    href="/note/{{ title }}/page/{{ page }}/note/{{ sidenote.id }}/edit"
                  >
                    <path
                      d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"
                    />
                  </a>
                </svg>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li>
                    <a
                      class="dropdown-item"
                      href="/note/{{ title }}/page/{{ page.page_title }}/sidenote/{{ sidenote.id }}/edit"
                    >
                      Edit
                    </a>
                  </li>
                  <form
                    action="/note/{{ title }}/page/{{ page.page_title }}/sidenote/{{ sidenote.id}}"
                    method="DELETE"
                  >
                    <li>
                      <input
                        type="submit"
                        value="Delete"
                        class="dropdown-item btn btn-primary"
                      />
                    </li>
                  </form>
                </ul>
              </span>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
