{% extends "index/layout.html" %}

<div>{% block title %} Edit Side Note {% endblock %}</div>
{% block body %}
<article
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  "
>
  >
  <form
    action="/note/{{ title }}/page/{{ page }}/sidenote/{{ id }}/edit"
    method="post"
    style="
      min-width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 6rem auto;
    "
  >
    <h1 class="mb-3 main-heading">Edit Sidenote</h1>
    <input
      type="text"
      class="form-control p-2 mb-3 block-title"
      name="sidenote"
      placeholder="Enter Page Title"
      autocomplete="off"
      autofocus
      value="{{ notes.sidenotes }}"
      class="form-control mx-auto w-auto mb-3"
      style="min-width: 100%"
    />
    <div class="d-flex justify-content-center">
      <button class="btn btn-primary me-3" style="width: 100%">
        Add Sidenote
      </button>

      <a href="/note/{{ title }}/page/{{ page }}" class="btn btn-danger">
        Cancel
      </a>
    </div>
  </form>
</article>
{% endblock %}
